@use '../../styles/abstracts/neumorphism' as neu;

.themeToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 50%;
  aspect-ratio: 1 / 1;

  @include neu.neu-card();
  transition: all 150ms ease;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    @include neu.neu-inset(50%, 6px);
  }

  .icon {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
  }
}
