@use 'sass:color';

@mixin neu-card($radius: 20px, $shadow-blur: 20px) {
  border-radius: $radius;
  background: linear-gradient(145deg, var(--bg-light), var(--bg-dark));

  box-shadow:
    5px 5px $shadow-blur var(--dark),
    -5px -5px $shadow-blur var(--light),
    inset 1px 1px 2px var(--light),
    inset -1px -1px 2px var(--dark);
}

@mixin neu-card-gradient(
  $radius: 20px,
  $lightness-top: 3%,
  $lightness-bottom: -2%,
  $shadow-blur: 20px
) {
  border-radius: $radius;

  box-shadow:
    5px 5px $shadow-blur var(--dark),
    -5px -5px $shadow-blur var(--light),
    inset 1px 1px 2px var(--light),
    inset -1px -1px 2px rgbavar(--dark);
}

@mixin neu-pressed($blur: 14px) {
  background: linear-gradient(145deg, var(--bg-dark), var(--bg-light));

  box-shadow:
    inset 6px 6px $blur var(--dark),
    inset -6px -6px $blur var(--light);
}

@mixin neu-inset($radius: 16px, $depth: 8px) {
  border-radius: $radius;

  // Invertimos el gradiente respecto al card
  background: linear-gradient(145deg, var(--bg-dark), var(--bg-light));

  box-shadow:
    inset $depth $depth ($depth * 2) var(--dark),
    inset (-$depth) (-$depth) ($depth * 2) var(--light);
}

@mixin neu-button() {
  background: var(--bg-primary);
  box-shadow:
    3px 3px 6px var(--shadow-dark),
    -3px -3px 6px var(--shadow-light);

  transition:
    box-shadow 150ms ease-in-out,
    transform 100ms ease-in-out;
  border: none;
}

@mixin neu-button-hover() {
  transform: scale(0.95);
  box-shadow:
    6px 6px 10px var(--shadow-dark-hover),
    -6px -6px 10px var(--shadow-light-hover);
}

@mixin neu-button-active() {
  box-shadow:
    inset 4px 4px 8px var(--shadow-dark-active),
    inset -4px -4px 8px var(--shadow-light-active);
}
