.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
  position: relative;
  max-width: calc(1400px + 4rem);
  margin: 0 auto;
  padding: 1.5rem 2rem;

  @media (max-width: 768px) {
    max-width: calc(1400px + 3em);
    padding: 1.5rem;
  }
}
